@model Producto;
@{
    ViewData["Title"] = "Modificar Producto";
}

<div class="container mt-5 mb-5">
    
    <h2 class="mb-3">Modificar producto</h2>

    <form asp-controller="Productos" asp-action="ModificarProduct" method="post">

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Descripcion" class="form-label">Descripcion:</label>
                <input type="text" name="Descripcion" id="Descripcion" class="form-control" required  value="@Model.Descripcion">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Precio" class="form-label">Precio:</label>
                <input type="text" name="Precio" id="Precio" class="form-control" required value="@Model.Precio">
            </div>
        </div>

       <input type="hidden" name="IdProducto" value="@Model.IdProducto" />

        <div class="d-flex gap-2">
            <a asp-controller="Productos" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button class="btn btn-success" type="submit">Guardar</button>
        </div>

    </form>

</div>
        